@import "tailwindcss";

:root {
  --primary: #61cb08;
}

.mycontainer {
  @apply md:px-14 sm:px-8 px-5 md:py-8 sm:py-6 py-4;
}

.section-heading {
  @apply font-semibold md:text-5xl sm:text-4xl text-3xl;
}
